<div class="left-pane">
  <div class="scroll">
    <div class="options-pane">
      <div class="info-header">
        Render settings
      </div>

      <div class="property-box">
        <div class="property-header">Render type</div>
        <md-select [(ngModel)]="renderType" class="dropdown" (change)="settingsService.renderTypeSub.next($event.value)">
          <md-option *ngFor="let renderType of renderTypes" [value]="renderType.id">
            {{ renderType.name }}
          </md-option>
        </md-select>
      </div>

      <div class="property-box">
        <div class="property-header">Resolution</div>
        <md-input-container dividerColor="accent" mdSuffix="px">
          <input class="resolution-input" [(ngModel)]="_resolutionWidth" mdInput (change)="resolutionUpdate()" type="number" #resolutionWidth>
        </md-input-container>
        <md-input-container dividerColor="accent" mdSuffix="px">
          <input class="resolution-input" [(ngModel)]="_resolutionHeight" mdInput (change)="resolutionUpdate()" type="number" #resolutionHeight>
        </md-input-container>
      </div>

      <div class="property-box">
        <div class="property-header">Render view zoom</div>
        <md-slider min="20" max="300" step="0.1" value="100.0" (input)="zoomSliderUpdate($event)" #zoomSlider></md-slider>
        <span class="data-label">{{settingsService.zoomSub.asObservable() | async }}x</span>
      </div>

      <div class="property-box">
        <span class="property-header">Start/stop render</span>
        <span *ngIf="!(settingsService.shouldRenderSub.asObservable() | async)">
          <button (click)="settingsService.shouldRender = true" md-icon-button><md-icon style="color: #fff">play_arrow</md-icon></button>
        </span>
        <span *ngIf="settingsService.shouldRenderSub.asObservable() | async">
          <button  (click)="settingsService.shouldRender = false" md-icon-button><md-icon style="color: #fff">pause</md-icon></button>
        </span>
      </div>
    </div>

    <div class="options-pane">
      <div class="info-header">
        Render effects
      </div>
      <div *ngFor="let attribute of settingsService.renderEffectSettings.attributes">
        <setting-attribute [attribute]="attribute"></setting-attribute>
      </div>
    </div>

    <div class="options-pane">
      <div class="info-header">
        Lightning
      </div>
      <div *ngFor="let attribute of settingsService.lightSettings.attributes">
        <setting-attribute [attribute]="attribute"></setting-attribute>
      </div>
    </div>

    <div class="options-pane">
      <!--<div class="info-header">-->
        <!--Download image-->
      <!--</div>-->
      <button class="pane-button" (click)="downloadImage()" md-raised-button>Save image</button>
    </div>
  </div>
</div>
