<div class="bottom-bar">
  <span class="zoom-slider">
    <span class="bottom-info-label">Zoom</span>
    <md-slider min="20" max="300" step="0.1" value="100.0" (input)="zoomSliderUpdate($event)" #zoomSlider></md-slider>
    <span class="bottom-info-data-label">{{settingsService.zoomObservable | async }}x</span>
  </span>

  <span class="zoom-slider">
    <span class="bottom-info-label">Resolution</span>
    <span class="resolution-inputs">
      <md-input-container dividerColor="accent" mdSuffix="px">
        <input class="resolution-input" [(ngModel)]="_resolutionWidth" mdInput (change)="resolutionUpdate()" type="number" #resolutionWidth>
      </md-input-container>
      <md-input-container dividerColor="accent" mdSuffix="px">
        <input class="resolution-input" [(ngModel)]="_resolutionHeight" mdInput (change)="resolutionUpdate()" type="number" #resolutionHeight>
      </md-input-container>
    </span>

    <span class="zoom-slider">
      <span class="bottom-info-label">Shape</span>
      <md-slider min="1" max="19" step="0.1" value="10.0" (input)="powerUpdate($event)"></md-slider>
      <span class="bottom-info-data-label">{{settingsService.powerObservable | async | number: '1.1-1'}}</span>
    </span>

    <span class="zoom-slider">
      <span class="bottom-info-label">Detail level</span>
      <md-slider min="100" max="10000" step="1" value="1000" (input)="detailLevelUpdate($event)"></md-slider>
      <span class="bottom-info-data-label">{{settingsService.detailLevelObservable | async | number: '1.0-0'}}</span>
    </span>

  </span>
</div>