.color-picker {
  border: none;
  border-radius: 4px;
  width: calc(100% - 10px);
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  opacity: 0.3;
}

.property-toggle {
  color: #fff;
  width: 50px;
  font-weight: 200;
  font-family: Roboto, serif;
  font-size: 12px;
}

.color-input {
  color: #fff;
  font-weight: 200;
  font-size: 12px;
  width: 40px;
  text-align: center;
}

.color-circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: yellow;
  display: inline-block;
  margin-left: 10px;
}