/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

canvas {
  cursor: crosshair;
}

canvas:active {
  cursor: move;
}

.mat-select-value {
  color: #fff;
  font-size: 12px;
}

.mat-select-ripple {
  color: #222;
}

.left-pane {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  width: 215px;
}

.right-pane {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  width: 202px;
}

.scroll {
  height: 100%;
  overflow-y: scroll;
  width: 230px;
}

.options-pane {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  width: 170px;
  background: rgba(0,0,0,0.2);
  overflow: hidden;
}

.info-header {
  font-family: Roboto, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.property-header {
  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 12px;
  color: #fff;
  margin-top: 10px;
}

.data-label {
  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 50px;
  color: #fff;
}

.mat-slide-toggle-content {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  font-weight: 200 !important;
}

color-picker {

}

.mat-dialog-container {
  font-weight: 200;
  background: rgba(0,0,0,0.2);
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  color: #fff;
}

.mat-spinner path {
  stroke: #ffc107;
  stroke-width: 6px;
}

.start-page-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background: -webkit-linear-gradient(top,#727272,#545454);
  background: linear-gradient(180deg,#727272 0,#545454);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#727272",endColorstr="#545454",GradientType=0);
  color: #fff;
}

.loading-header {
  font-size: 55px;
  font-weight: 200;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}