.color-picker {
  border: none;
  border-radius: 4px;
  width: calc(100% - 10px);
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  opacity: 0.3;
}

.property-toggle {
  color: #fff;
  width: 50px;
  font-weight: 200;
  font-family: Roboto, serif;
  font-size: 12px;
}